.carousel {

	&_list {
		width: 100%;
	}

	&_item {
		width: 100%;
		margin-bottom: 47px;
	}

	&_container {
		width: 100%;
		padding: $padding;
		position: relative;
	}

	&_heading {
		margin: 0 auto;
		-js-display: flex;
		display: flex;
		align-items: flex-end;
		margin-bottom: 40px;
		padding: $padding;

		&:before {
			content: '';
			display: block;
			width: 23px;
			height: 22px;
			background-image: url(./assets/img/svg/shape-paw.svg);
			background-size: contain;
			background-repeat: no-repeat;
			margin-right: 20px;

			@include bp(md) {
				width: 28px;
				height: 28px;
			}
		}

		@include bp(md) {
			margin-bottom: 120px;
		}
	}

	.product {

		&:hover {
			margin-bottom: 0;

			.btn {
				display: block;
			}
		}
		&_content {
			padding: 40px 30px;
			padding-top: 135px;
			background-color: $c-blue-light;
			margin-top: -90px;
			text-align: center;
		}

		&_name {
			margin-bottom: 10px;
			color: $c-black;
		}

		&_price {
			display: block;
			color: $c-orange;
			margin-bottom: 24px;
		}

		&_image {
			padding: $padding;
		}

		&_img {
			margin: 0 auto;
			height: 180px;
			max-width: 100%;
			width: auto;

			@include bp(md) {
				height: 200px;
			}

			@include bp(xl) {
				height: 240px;
			}
		}

		&_btn {
			margin: 0 auto;

			@include bp(lg) {
				display: none;
			}
		}
	}

	.glide {
		@include bp(lg) {
			width: $col-10;
			margin-left: $col-1;
		}

		&__bullets {
			text-align: center;

			@include bp(lg) {
				display: none;
			}
		}

		&__bullet {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $c-grey-bullet;
			margin: 0 8px;
			display: inline-block;

			&:hover {
				cursor: pointer;
			}

			&--active {
				background-color: $c-black;
			}
		}

		&__slides {
			z-index: 2;
		}

		&__slide {

			&:hover {
				cursor: grab;
			}
		}

		&_controls {
			position: absolute;
			width: 100%;
			top: 90px;
			-js-display: flex;
			display: flex;
			justify-content: space-between;
			z-index: 0;
			display: none;
			left: 0;

			@include bp(lg) {
				display: block;
			}

			.glide_prev,
			.glide_next {
				display: block;
				width: 18px;
				height: 30px;
				position: absolute;

				&:hover {
					cursor: pointer;

					polyline {
						stroke: darken($c-orange, 10%);
					}
				}

				svg {
					width: 100%;
				}
			}

			.glide_prev {
				left: 0;
				margin-left: 8px;
			}

			.glide_next {
				right: 0;
				margin-right: 8px;
			}
		}
	}
}