<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Buy dog food | Bark</title>
    <meta name="description" content="Bark website"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Bark" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <script src="bundle.js"></script>
  </body>
</html>
