<section class="feature-text">
	<div class="container no-gutter">
		<div class="row">
			<div class="feature-text_content">
				<picture>
					<source srcset="./assets/img/pattern-desktop.png" media="(min-width: 768px)" />
					<img class="feature-text_bg" src="./assets/img/pattern-mobile.png" />
				</picture>
				<div class="feature-text_inner">
					<h2 class="feature-text_heading">Spend £40 for Free Delivery!*</h2>
					<span class="small">*Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</span>
				</div>
			</div>
		</div>
	</div>
</section>