<footer class="footer">
	<div class="container">
		<div class="row footer_main">
			<a class="footer_logo logo">
				<img src="./assets/img/svg/logo-black.svg" alt="bark logo" />
			</a>
			<ul class="footer_nav nav">
				<li class="nav_item">
					<a href="#" class="nav_link">Consectetur</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link nav_link-active">Ullamcorper</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link">Nullam</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link">Inceptos</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link">Bibendum</a>
				</li>
			</ul>
			<ul class="footer_nav nav">
				<li class="nav_item">
					<a href="#" class="nav_link">Consectetur</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link">Ullamcorper</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link">Nullam</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link">Inceptos</a>
				</li>
				<li class="nav_item">
					<a href="#" class="nav_link">Bibendum</a>
				</li>
			</ul>
			<div class="footer_social">
				<a class="footer_social-link link-large" href="#" alt="sign up">Click here to sign up
				
					<svg viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
					    <title>Arrow</title>
					    <desc>Created with Sketch.</desc>
					    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
					        <g id="Home" transform="translate(-1189.000000, -3136.000000)" stroke="#FF5C00" stroke-width="4">
					            <g id="Arrow" transform="translate(1191.000000, 3138.000000)">
					                <polyline id="Path-Copy" transform="translate(12.656854, 8.000000) scale(-1, 1) rotate(-45.000000) translate(-12.656854, -8.000000) " points="7.65685425 13 7.65685425 3 7.65685425 3 17.6568542 3"></polyline>
					                <path d="M19,8.5 L0,8.5" id="Path-3"></path>
					            </g>
					        </g>
					    </g>
					</svg>
				</a>
				<ul class="footer_social-list social">
					<li class="social_item">
						<a href="#" class="social_link facebook"></a>
					</li>
					<li class="social_item">
						<a href="#" class="social_link insta"></a>
					</li>
					<li class="social_item">
						<a href="#" class="social_link twitter"></a>
					</li>
					<li class="social_item">
						<a href="#" class="social_link youtube"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row footer_sub">
			<ul class="footer_sub-nav sub-nav">
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link paypal"></a>
				</li>
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link master"></a>
				</li>
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link visa"></a>
				</li>
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link amex"></a>
				</li>
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link maestro"></a>
				</li>
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link klarna"></a>
				</li>
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link apple"></a>
				</li>
				<li class="sub-nav_item">
					<a href="#" class="sub-nav_link google"></a>
				</li>
			</ul>
			<p class="footer_sub-text">©2019 Bark Ltd. All Rights Reserved.</p>

		</div>
	</div>
</footer>