<header class="header">
	<div class="container">
		<div class="row">
			<a class="header_logo" href="#" alt="bark logo">
				<img src="./assets/img/svg/logo.svg" alt="bark logo" />
			</a>
			<div class="header_nav-container">
				<div class="header_nav-bg"></div>
				<ul class="header_nav nav">
					<li class="nav_item nav_item-active"><a href="#" class="nav_link" alt="link">Active</a></li>
					<li class="nav_item"><a href="#" class="nav_link" alt="link">Link One</a></li>
					<li class="nav_item"><a href="#" class="nav_link" alt="link">Link Two</a></li>
					<li class="nav_item"><a href="#" class="nav_link" alt="link">Link Three</a></li>
				</ul>
			</div>
			<div class="header_burger burger">
				<a class="burger_btn" href="#" alt="open menu"></a>
			</div>
		</div>
	</div>
</header>