<section class="hero">
	<div class="container">
		<div class="row">
			<div class="hero_image">
				<div class="container hero_image-container">
					<picture>
						<source srcset="./assets/img/dog-hero@2x.png" media="(min-width: 768px)" />
						<img class="hero_img" src="./assets/img/dog-hero.png" alt="cocker spaniel" />
					</picture>
				</div>
			</div>
			<div class="hero_content">
				<h1 class="hero_heading">Vestibulum Fusce Aenean Dolor</h1>
				<a class="btn btn-orange overlay_open" href="#" alt="sign up">Sign up</a>
			</div>
		</div>
	</div>
</section>