<section class="image-text">
	<div class="container">
		<div class="row">
			<div class="image-text_image">
				<picture>
					<source srcset="./assets/img/dog-combined@2x.png" media="(min-width: 991px)" />
					<img class="image-text_img" src="./assets/img/dog-combined.png" alt="labrador" />
				</picture>
			</div>
			<div class="image-text_content">
				<h2 class="image-text_heading">Ornare Vulputate Elit</h2>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
				<a class="btn btn-orange" href="#" alt="learn more">Learn more</a>
			</div>
		</div>
	</div>
</section>