<div class="overlay">
	<div class="container">
		<div class="overlay_inner">
			<a class="overlay_close"></a>
			<div class="overlay_image">
				<img class="overlay_img" src="./assets/img/dog-popup.png" alt="dog">
			</div>
			<div class="overlay_content">
				<h3 class="overlay_heading">Newsletter Sign Up</h3>
				<form class="overlay_form form" action="post">
					<input class="form_input" type="text" name="email" class="" placeholder="Name">
					<input class="form_input" type="email" name="email" class="" placeholder="Email Address">
					<p class="form_text">Donec id elit non mi porta gravida at eget metus.</p>
					<input class="form_submit btn btn-orange" type="submit" value="submit">
				</form>
			</div>
		</div>
	</div>
</div>