{# This is an example of how to loop through data whilst null checking #}

{% if page.copy %}
  {% set var = page.copy.copy1 %}
  {% for var, item in page.copy %}
    <span>
      <br> {{ item | safe}} <br>
    </span>
  {% endfor %}
{% endif %}
