{% extends "layout.njk" %}

{% block content %}
	{% include "partials/header.njk" %}

	{% include "partials/hero.njk" %}

	{% include "partials/carousel.njk" %}

	{% include "partials/image-text.njk" %}

	{% include "partials/feature-text.njk" %}

	{% include "partials/footer.njk" %}

	{% include "partials/overlay.njk" %}
{% endblock %}
