@font-face {
    font-family: 'Roboto Light';
    src: url('./assets/fonts/RobotoLight/Roboto-Light.eot');
    src: url('./assets/fonts/RobotoLight/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/RobotoLight/Roboto-Light.woff2') format('woff2'),
        url('./assets/fonts/RobotoLight/Roboto-Light.woff') format('woff'),
        url('./assets/fonts/RobotoLight/Roboto-Light.ttf') format('truetype'),
        url('./assets/fonts/RobotoLight/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('./assets/fonts/RobotoRegular/Roboto-Regular.eot');
    src: url('./assets/fonts/RobotoRegular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/RobotoRegular/Roboto-Regular.woff2') format('woff2'),
        url('./assets/fonts/RobotoRegular/Roboto-Regular.woff') format('woff'),
        url('./assets/fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype'),
        url('./assets/fonts/RobotoRegular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.eot');
    src: url('./assets/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype'),
        url('./assets/fonts/OpenSans/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}