body {
	font-family: $robotolight;
	color: $c-grey;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 24px;

}

h1, h2, h3, h4, h5, h6 {
	font-family: $robotoreg;
	color: $c-black;
}

h1 {
	font-size: 30px;
	line-height: 35px;

	@include bp(lg) {
		font-size: 48px;
		line-height: 57px;
	}
}

h2 {
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 34px;

	@include bp(lg) {
		font-size: 38px;
		line-height: 44px;
	}
}

h3 {
	font-size: 22px;
	line-height: 25px;

	@include bp(lg) {
		font-size: 28px;
		line-height: 33px;
	}
}

.large {
	font-size: 18px;
	line-height: 28px;
	font-family: $robotolight;
}

.small {
	font-size: 12px;
	line-height: 16px;

	@include bp(md) {
		font-size: 14px;
		line-height: 20px;
	}
}

a {
	font-family: $opensans;
}

.nav_link {
	font-family: $opensans;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 1.38px;
	color: $c-grey;
	text-decoration: none;
}

.link-large {
	font-size: 24px;
	line-height: 28px;
	color: $c-orange;

	&:hover {
		color: darken($c-orange, 10%);
	}
}

input {
	font-size: 14px;
	line-height: 20px;
}